Repository toss/granite, pull requests merged in 2025-09, with the labels that each got.

#109 feat: Add `dist/` folder to .gitignore template for granite-app
  packages/create-granite-app/templates/granite-app/_gitignore
Labels: create-granite-app

#110 fix(react-native): handle undefined initialScheme in useInitialRouteName hook
  packages/react-native/src/router/hooks/useInitialRouteName.tsx
Labels: @granite-js/react-native

#117 fix(react-native): avoid multiple app registrations without throwing errors
  .changeset/fair-snakes-drive.md
  packages/react-native/src/app/Granite.tsx
Labels: @granite-js/react-native

#121 feat(mpack): configure InspectorProxy
  .changeset/ninety-facts-post.md
  packages/mpack/src/operations/serve.ts
  packages/mpack/src/server/DevServer.ts
  packages/mpack/src/server/debugger/DebuggerEventHandler.ts
  packages/mpack/src/server/types.ts
  packages/mpack/src/vendors/metro-inspector-proxy/src/Device.js
  packages/mpack/src/vendors/metro-inspector-proxy/src/InspectorProxy.js
  packages/mpack/src/vendors/metro/src/index.flow.js
  packages/plugin-core/package.json
  packages/plugin-core/src/types/DevServerConfig.ts
  packages/plugin-core/src/utils/buildResult.ts
  yarn.lock
Labels: @granite-js/mpack, @granite-js/plugin-core, dependencies
