Repository toss/granite, pull requests merged in 2025-08, with the labels that each got.

#100 fix(mpack): update getId fields
  .changeset/floppy-worlds-try.md
  packages/mpack/src/server/DevServer.ts
  packages/mpack/src/shared/PersistentStorage.ts
  packages/mpack/src/utils/getId.ts
Labels: @granite-js/mpack

#101 feat(mpack): handle uncaught exception
  .changeset/hot-corners-bow.md
  packages/mpack/src/bundler/Bundler.ts
  packages/mpack/src/operations/build.ts
  packages/mpack/src/utils/printErrors.ts
  packages/mpack/src/utils/progressBar.ts
Labels: @granite-js/mpack

#104 fix(plugin-core): missing Metro configuration compatibility
  .changeset/upset-ducks-sip.md
  packages/plugin-core/src/types/GranitePlugin.ts
  packages/plugin-core/src/utils/resolveConfig.spec.ts
  packages/plugin-core/src/utils/resolveConfig.ts
Labels: @granite-js/plugin-core

#108 fix(mpack): metafile generation
  .changeset/pink-cows-hide.md
  packages/mpack/src/operations/build.ts
  packages/mpack/src/utils/writeBundle.ts
Labels: @granite-js/mpack

#111 feat(react-native): Add setIosSwipeGestureEnabled
  .changeset/free-animals-show.md
  packages/react-native/src/app/AppRoot.tsx
  packages/react-native/src/app/Granite.tsx
  packages/react-native/src/router/Router.tsx
  packages/react-native/src/router/components/CanGoBackGuard.tsx
Labels: @granite-js/react-native
